body {
  margin: 8px auto;
  background: #fff;
  width: 700px; }

header {
  background-color: #ddd;
  padding: 1em;
  font-size: 1.4em; }

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #666;
  color: #fff;
  text-align: center;
  font-size: 1.5em; }

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); }

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left; }

.styled-table th, .styled-table td {
  padding: 12px 15px; }

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd; }

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3; }

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879; }

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879; }

.login {
  display: block;
  margin: auto; }

footer {
  background-color: #020080;
  height: 200px; }
