<%- include("header.ejs", {title: title}) %>


<h1>Add vaccine</h1>


<form method="post">
    <label for="ssn">SSN:</label><br>
    <input type="text" name="ssn" value=""><br><br>

    <label for="name">Name:</label><br>
    <input type="text" name="name" value=""><br><br>

    <label for="vaccine">Vaccine:</label><br>
    <input type="text" name="vaccine" value=""><br><br>

    <label for="type">Type:</label><br>
    <input type="text" name="type" value=""><br><br>

    <label for="description">Description:</label><br>
    <input type="text" name="description" value=""><br><br>

    <label for="phone">Phone:</label><br>
    <input type="text" name="phone" value=""><br><br>





    <input type="submit" value="Submit">
</form>


<%- include("footer.ejs") %>
