<%- include("header.ejs", {title: title}) %>

<h1>Book your vaccine</h1>

<form action="">
    <label for="ssn">SSN:</label><br>
    <input type="text" id="ssn" value=""><br><br>

    <label for="name">Name:</label><br>
    <input type="text" id="name" value=""><br><br>

    <label for="vaccine">Vaccine:</label><br>
    <input type="text" id="vaccine" value=""><br><br>

    <label for="type">Type:</label><br>
    <input type="text" id="type" value=""><br><br>

    <label for="description">Description:</label><br>
    <input type="text" id="description" value=""><br><br>

    <label for="phone">Phone:</label><br>
    <input type="text" id="phone" value=""><br><br>

    <input type="submit" value="Submit">
</form>


<%- include("footer.ejs") %>
