<%- include("header.ejs", {title: title}) %>

<h1 class="title">Book a vaccine</h1><br>

<form method="post" class="center">
    <div class="form__group">
        <!-- <label class="form__label" for="ssn">SSN</label> -->
        <input class="form__input" type="text" placeholder="SSN XXXXXXXX-XXXX" name="ssn" value="" maxlength="12" minlength="12" pattern="[1,2]{1}[9,0]{1}[0-9]{2}[0,1]{1}[0-9]{1}[0-3]{1}[0-9]{1}[0-9]{4}" required>
    </div><br>
    <div class="form__group">
        <!-- <label class="form__label" for="name">Name</label> -->
        <input class="form__input" placeholder="Name" type="text" name="name" value="" pattern="[A-Za-z ]{1,50}" required>
    </div><br>

    <!-- <label class="form__label" for="vaccine">Vaccine:</label><br> -->

    <select class="form__input" id="vaccine" name="vaccine" required>
        <option value="COVID-19">COVID-19</option>
        <option value="TBE">TBE</option>
    </select><br>

    <div class="form__group">
        <!-- <label class="form__label" for="type">Type</label> -->
        <input class="form__input" placeholder="Type" type="text" name="type" value="" pattern="[a-zA-Z0-9_ ]{1,20}" required>
    </div><br>

    <div class="form__group">
        <!-- <label class="form__label" for="phone">Phone</label> -->
        <input class="form__input" placeholder="Phone" type="text" name="phone" value="" pattern="[0-9]{10}" required maxlength="10">
    </div><br>

    <input class="form__input" type="submit" value="Submit" class="button2">
</form>

<%- include("footer.ejs") %>
