<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" type="text/css" href="/style/style.css">
</head>

<body>
    <nav>
        <a href="/user">User</a>
        <a href="/vaccines">Vaccines</a>
        <a href="/search">Search</a>
        <a href="/bookings">Bookings</a>
    </nav>
