<%- include("header.ejs", {title: title}) %>


  <h1 class="title">Welcome <%= name %></h1>


<form action="" method="POST">
  <button type="submit" class="button">Log Out</button>
</form>

<%- include("footer.ejs") %>
