<%- include("header.ejs", {title: title}) %>


<h1>Vaccines</h1>


<table>
    <tr>
        <th>SSN</th>
        <th>Name</th>
        <th>Vaccine</th>
        <th>Type</th>
        <th>Description</th>
        <th>Phone</th>
    </tr>

        <tr>
            <td>
                <p>text</p>
            </td>
            <td>
                <p>text</p>
            </td>
            <td>
                <p>text</p>
            </td>
            <td>
                <p>text</p>
            </td>
            <td>
                <p>text</p>
            </td>
            <td>
                <p>text</p>
            </td>
        </tr>

</table>

<%- include("footer.ejs") %>
